<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
        <setting type="text"    id="socket_url"         default="http://ec2-54-191-98-39.us-west-2.compute.amazonaws.com" label="32010"/>
        <setting type="text"    id="socket_port"        default="3000"  label="32011"/>
        <setting type="text"    id="authcode"           default=""      label="32012"/>
    </category>
    <category label="32002">
        <setting type="lsep"    label="32013"/>
        <setting type="bool"    id="netflix_enabled"    default="false" subsetting="true" label="32014"/>
        <setting type="bool"    id="quasar_enabled"     default="false" subsetting="true" label="32015" enable="System.HasAddon(plugin.video.quasar)"/>
        <setting type="bool"    id="pulsar_enabled"     default="false" subsetting="true" label="32016" enable="System.HasAddon(plugin.video.pulsar)"/>
        <setting type="lsep"    label="32017"/>
        <setting type="bool"    id="debug"              default="false" label="32018"/>
        <setting type="text"    id="debug_loc"          default=""      subsetting="true" label="32019"   visible="eq(-1,true)"/>
    </category>
</settings>